.cell:hover {
    cursor: grab;
}

.cell-active {
    background-color: white;
}

.cell-inactive {
    background-color: rgb(0, 0, 0);
}

.cell-inactive:hover {
    background-color: rgb(25, 25, 25);
}