.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-center-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}